# Mistral Cloud API Key
MISTRAL_API_KEY=your_mistral_api_key_here

# MongoDB Atlas Database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/vocalbharat?retryWrites=true&w=majority
MONGODB_DB_NAME=vocalbharat
